.gaonutosal {

}

.pesontedan {
    color: rgba(255, 255, 255, 0.75);
}

.pesontedan input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.pesontedan label {
    position: relative;
    display: block;
    padding: 0 0 0 2em;
    line-height: 3;
    cursor: pointer;
    text-shadow: 0 1px 0 #333131;
    font-size: 16px;
}

.pesontedan-content {
    max-height: 0;
    overflow: hidden;
}

.pesontedan-content p {
    margin: 1em;
}
/* :checked */
.pesontedan input:checked ~ .pesontedan-content {
    max-height: 100vh;
}

/* Icon */
.pesontedan label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .40s;
    -o-transition: all .40s;
    transition: all .40s;
}
.pesontedan input[type=checkbox] + label::after {
    content: "+";
}
.pesontedan input[type=radio] + label::after {
    content: "\25BC";
}
.pesontedan input[type=checkbox]:checked + label::after {
    transform: rotate(315deg);
}
.pesontedan input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
}


